
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Roboto&display=swap');

* {
 font-family: inter;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
  }

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .container ul {
    margin-left: 18px;
   display: flex;
}

nav .container ul li {
    margin-left: 18px;
    list-style: none;
}

nav .container ul li a {
    text-decoration: none;
    color: black;
}

.home {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90vh;
}

.home .container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  top: 30%;
}

/* CSS */
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.about {
display: flex;
flex-direction: column;
width: 100%;
height: 80vh;
align-items: center;
}

.about h2 {
font-size: 40px;
}

.about p {
    max-width: 420px;
    text-align: center;
    line-height: 1.7rem;
    font-size: 20px;
}

.about .social-links {
    display: flex;
    border: solid 3px black;
    border-radius: 8px;
}

.about .social-links img {
    width: 50px;
    margin: 15px;
}

.skills {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}
.skills h2 {
    font-size: 40px;

}

.skills .items {
    display: flex;
    justify-content: space-between;

}

.skills .items img {
    width: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.skills .items p {
    max-width: 300px;
}

.skills .items .programming {
    padding-right: 30px;
}
.skills .items .writing {
    padding-right: 30px;
}
.skills .items .social {
    padding-right: 30px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 2px black;
}